In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\nguye\anaconda3\lib\site-packages (2.9.9)

In [3]:
%load_ext sql

#### postgresql://username:password@hostname/database_name

In [4]:
%sql postgresql://postgres:280301@localhost/postgres

In [5]:
%%sql
SET search_path = pizza_runner;

 * postgresql://postgres:***@localhost/postgres
Done.

[]

### 1.Có bao nhiêu pizza đã được đặt?

In [6]:
%%sql
SELECT 
    COUNT(order_id) AS total_pizzas_order
FROM customer_orders;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(14,)]

### 2.Có bao nhiêu đơn đặt hàng khác nhau đã được đặt?

In [7]:
%%sql
SELECT
    COUNT(DISTINCT order_id) AS  total_orders
FROM
    customer_orders;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(10,)]

###  3.Với mỗi runner, bao nhiêu đơn đặt hàng đã được giao thành công?

In [8]:
%%sql
SELECT
    runner_id,
    COUNT(*) AS successful_orders
FROM 
    runner_orders
WHERE
    cancellation IS NULL
GROUP BY
    runner_id;

 * postgresql://postgres:***@localhost/postgres
3 rows affected.

[(1, 4), (2, 3), (3, 1)]

### 4. Với mỗi customer, bao nhiêu pizza loại ‘Vegetarian’ và ‘Meatlovers’ đã được đặt?

In [9]:
%%sql
SELECT
    c.customer_id,
    COUNT(CASE WHEN p.pizza_name = 'Vegetarian' THEN 1 ELSE NULL END) AS vegetarian_count,
    COUNT(CASE WHEN p.pizza_name = 'Meatlovers' THEN 1 ELSE NULL END) AS Meatlovers_count
FROM
    customer_orders c JOIN pizza_names p ON c.pizza_id = p.pizza_id
GROUP BY
    c.customer_id;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(101, 1, 2), (103, 1, 3), (104, 0, 3), (105, 1, 0), (102, 1, 2)]

### 5. Số lượng pizza tối đa được giao của một đơn hàng là bao nhiêu?

In [10]:
%%sql
SELECT
    order_id,
    COUNT(*) AS max_orders
FROM
    customer_orders
GROUP BY
    order_id
ORDER BY
    max_orders DESC
LIMIT 1;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(4, 3)]

### 6. Khối lượng đơn đặt hàng mỗi ngày trong tuần là bao nhiêu?

In [11]:
%%sql
SELECT
    TO_CHAR(order_time,'day') AS day_of_week ,
    COUNT(DISTINCT order_id) AS day_order_volumn
FROM
    customer_orders
GROUP BY
    day_of_week;

 * postgresql://postgres:***@localhost/postgres
4 rows affected.

[('friday   ', 1), ('saturday ', 2), ('thursday ', 2), ('wednesday', 5)]

### 7. Có bao nhiêu runners đăng ký mỗi tuần? (tuần bắt đầu 2021-01-01)

In [12]:
%%sql
SELECT
    TO_CHAR(registration_date,'WW') AS week,
    COUNT(*) AS num_signups
FROM
    runners
GROUP BY
    week;

 * postgresql://postgres:***@localhost/postgres
3 rows affected.

[('03', 1), ('01', 2), ('02', 1)]

### 8. Thời gian trung bình tính bằng phút để mỗi runner đến trụ sở Pizza Runner để nhận đơn hàng là bao nhiêu?

In [13]:
%%sql
WITH distinct_customer AS(
SELECT DISTINCT
    order_id, customer_id, order_time
FROM 
    customer_orders
),
duration AS(
SELECT
    r.runner_id,
    (r.pickup_time::TIMESTAMP - d.order_time::TIMESTAMP) AS duration
FROM 
    runner_orders r JOIN distinct_customer d ON r.order_id=d.order_id
WHERE
    r.cancellation IS NULL
)
SELECT
    runner_id,
    EXTRACT(MINUTE FROM AVG(duration)) AS avg_arrival_minute
FROM                                   --extract(minute from ): chuyển đổi avg(duration) thành số phút
    duration
GROUP BY
    runner_id;

 * postgresql://postgres:***@localhost/postgres
3 rows affected.

[(1, Decimal('14')), (2, Decimal('20')), (3, Decimal('10'))]

### 9. Với mỗi customer, quãng đường trung bình cần phải đi là bao nhiêu?

In [16]:
%%sql
UPDATE runner_orders
SET distance=REPLACE(distance,' km','')

 * postgresql://postgres:***@localhost/postgres
10 rows affected.

[]

In [20]:
%%sql
WITH distinct_orders AS(
SELECT DISTINCT
	order_id,customer_id,order_time
FROM
	customer_orders
)
SELECT
	d.customer_id,
	ROUND(AVG(r.distance::NUMERIC),2) AS avg_distance
FROM
	distinct_orders d JOIN runner_orders r ON r.order_id=d.order_id
WHERE
	r.cancellation IS NULL
GROUP BY
	d.customer_id;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(101, Decimal('20.00')),
 (102, Decimal('18.40')),
 (103, Decimal('23.40')),
 (104, Decimal('10.00')),
 (105, Decimal('25.00'))]

### 10.Sự chênh lệch giữa thời gian giao hàng lâu nhất và ngắn nhất cho tất cả các đơn hàng là bao nhiêu?

In [21]:
%%sql

SELECT
	MAX(REPLACE(duration, ' mins', '')::numeric) -
	MIN(REPLACE(duration, ' mins', '')::numeric) AS mins_different
	
FROM
	runner_orders

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(Decimal('30'),)]

### 11.Tốc độ trung bình của mỗi runner trong mỗi lần giao hàng là bao nhiêu?

In [23]:
%%sql
UPDATE runner_orders
SET duration=REPLACE(duration,' mins','')

 * postgresql://postgres:***@localhost/postgres
10 rows affected.

[]

In [24]:
%%sql

SELECT 
    runner_id,
	order_id,
	(distance::FLOAT/duration::INT)::NUMERIC(5,2) AS delivery_speed
FROM 
    runner_orders
WHERE 
    distance IS NOT NULL

 * postgresql://postgres:***@localhost/postgres
8 rows affected.

[(1, 3, Decimal('0.67')),
 (2, 4, Decimal('0.59')),
 (3, 5, Decimal('0.67')),
 (1, 1, Decimal('0.63')),
 (1, 2, Decimal('0.74')),
 (2, 7, Decimal('1.00')),
 (2, 8, Decimal('1.56')),
 (1, 10, Decimal('1.00'))]

### 12.Tỷ lệ phần trăm giao hàng thành công của mỗi runner là bao nhiêu?

In [25]:
%%sql

SELECT 	 
	runner_id,
	COUNT(CASE WHEN cancellation IS NULL THEN 1 END)*100 / COUNT(*) AS success_rate_percentage
FROM 
	runner_orders
GROUP BY 
	runner_id;

 * postgresql://postgres:***@localhost/postgres
3 rows affected.

[(1, 100), (3, 50), (2, 75)]

### 13.Các thành phần tiêu chuẩn cho mỗi pizza là gì?

In [27]:
%%sql
SELECT
	pn.pizza_name,
	STRING_AGG(pt.topping_name,',') AS standard_toppings
	--string_agg ghép các thành phần nguyên liệu thành một chuỗi
FROM 
	pizza_names pn 
JOIN 
	pizza_recipes pr ON pn.pizza_id=pr.pizza_id
JOIN 
	pizza_toppings pt ON pt.topping_id IN 
								(SELECT UNNEST(string_to_array(pr.toppings, ',')::int[]))
GROUP BY                   -- string_to_array chuyển đổi giá trị trong cột toppings thành mảng
	pn.pizza_name;         --UNNEST phân tách phần tử trong mảng thành hàng đơn lẻ

 * postgresql://postgres:***@localhost/postgres
2 rows affected.

[('Meatlovers', 'Bacon,BBQ Sauce,Beef,Cheese,Chicken,Mushrooms,Pepperoni,Salami'),
 ('Vegetarian', 'Cheese,Mushrooms,Onions,Peppers,Tomatoes,Tomato Sauce')]

### 14.Topping nào thường được thêm vào nhất?

In [28]:
%%sql
SELECT 
	pt.topping_name,
	COUNT(*) AS extras_topping
FROM
	customer_orders co
JOIN 
	pizza_toppings pt ON pt.topping_id IN(SELECT UNNEST(string_to_array(co.extras, ',')::int[]))
GROUP BY
	pt.topping_name
ORDER BY
	extras_topping DESC
LIMIT 1;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('Bacon', 4)]

### 15.Topping nào thường bị loại ra nhất?

In [30]:
%%sql
SELECT 
	pt.topping_name,
	COUNT(*) AS  exclusion_count
FROM 
	customer_orders co
JOIN 
	pizza_toppings pt ON pt.topping_id IN (SELECT UNNEST(string_to_array(co.exclusions, ',')::int[]))
GROUP BY 
	pt.topping_name
ORDER BY 
	exclusion_count DESC
LIMIT 1;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('Cheese', 4)]

### 16.Tổng số lượng của từng thành phần được sử dụng trong tất cả các loại pizza được giao là bao nhiêu, sắp xếp theo số lượng từ cao đến thấp?

In [37]:
%%sql

--thêm vào
WITH extras_tb AS(
SELECT
	UNNEST(STRING_TO_ARRAY(extras,','))::INTEGER AS extra_topping_id,
	COUNT(*) AS extra_count
FROM
	customer_orders
WHERE
	extras IS NOT NULL AND order_id NOT IN (SELECT order_id FROM runner_orders WHERE cancellation IS NOT NULL)
GROUP BY
	extra_topping_id
),

--loại ra	
exclusions_tb AS(
SELECT
	UNNEST(STRING_TO_ARRAY(exclusions,','))::INTEGER AS exc_topping_id,
	COUNT(*) AS exc_count
FROM
	customer_orders
WHERE
	exclusions IS NOT NULL AND order_id NOT IN (SELECT order_id FROM runner_orders WHERE cancellation IS NOT NULL)
GROUP BY
	exc_topping_id
),

--tổng
normal_tb AS (
SELECT
	UNNEST(STRING_TO_ARRAY(pr.toppings,','))::INTEGER AS topping_id,
	COUNT(*) AS normal_count
FROM
	customer_orders co 
JOIN
	pizza_recipes pr ON  co.pizza_id=pr.pizza_id
WHERE
	order_id IN (SELECT order_id FROM runner_orders WHERE cancellation IS NULL)
GROUP BY
	topping_id
), 

final_pizza AS(
SELECT 
	nt.topping_id,
	pt.topping_name,
	nt.normal_count AS summ,
	COALESCE(extra_count, 0) AS extra,  -- chuyển các giá trị null sang 0 
	COALESCE(exc_count,0) AS exclusion
FROM 
	 normal_tb nt 
	 LEFT JOIN  extras_tb  ON extra_topping_id=nt.topping_id 
	 LEFT JOIN  exclusions_tb  ON exc_topping_id=nt.topping_id
	 LEFT JOIN pizza_toppings pt ON pt.topping_id=nt.topping_id
)
SELECT
	topping_name,
	summ + extra - exclusion AS total_topping
FROM 
	final_pizza
ORDER BY
	total_topping DESC;

 * postgresql://postgres:***@localhost/postgres
12 rows affected.

[('Bacon', 12),
 ('Mushrooms', 11),
 ('Cheese', 10),
 ('Salami', 9),
 ('Pepperoni', 9),
 ('Beef', 9),
 ('Chicken', 9),
 ('BBQ Sauce', 8),
 ('Onions', 3),
 ('Tomato Sauce', 3),
 ('Peppers', 3),
 ('Tomatoes', 3)]

### 17.Nếu 1 pizza Meat Lovers có giá $12, Vegetarian có giá  10, và không thêm phí cho sự thay đổi thì tổng số tiền Pizza Runner thu được là bao nhiêu (không tính phí giao hàng)?

In [31]:
%%sql

SELECT
	SUM(CASE WHEN pizza_id=1 THEN 12 ELSE 10 END) AS revenue
FROM 
	customer_orders
WHERE
	order_id  IN (SELECT order_id FROM runner_orders WHERE cancellation IS NULL);

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(138,)]

### 18.Nếu thêm 1 dola cho mỗi extras thêm vào (ví dụ thêm cheese thì thêm 1 dola) thì tổng số tiền Pizza Runner thu được là bao nhiêu?

In [32]:
%%sql
SELECT
	SUM(CASE WHEN pizza_id=1 THEN 12 ELSE 10 END) +
	SUM(NULLIF(array_length(STRING_TO_ARRAY(extras, ',')::INT[],1),NULL)) AS total_amount
FROM 
	customer_orders
WHERE
	order_id  IN (SELECT order_id FROM runner_orders WHERE cancellation IS NULL);

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(142,)]

### 19.Nếu 1 pizza Meat Lovers có giá 12 dola, Vegetarian có giá 10 dola  và không thêm phícho phần extra, mỗi runner được trả $0.30 trên km đi lại - Tổng số tiền Pizza Runner thu được sau khi trừ khoản phí giao hàng cho các runner là bao nhiêu?

In [33]:
%%sql
SELECT(
SELECT
	SUM(CASE WHEN pizza_id=1 THEN 12 ELSE 10 END) 
FROM 
	customer_orders
WHERE
	order_id  IN (SELECT order_id FROM runner_orders WHERE cancellation IS NULL)
)-
(SELECT
	SUM(distance::NUMERIC*0.3)
FROM
	runner_orders
WHERE
	distance IS NOT NULL
) AS amount;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(Decimal('94.44'),)]